@import url('satoshi.css');
*:root {
    --deepnoir : #000;
    --noir: #1D1D1F;
    --gris: #75757A;
    --blanc1: #F5F5F7;
    --blanc2: #FAFAFA;
    --orange : #FF9F0A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--blanc1);
    font-family: 'Satoshi-Medium';
}
body {
    overflow-x: hidden;
}

.landingpage {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textEtImageContainer {
    width: 100%;
    height: auto;
    position: relative;
    top: -145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}
.textContainer h1 {
    position: relative;
    color: var(--noir);
    font-size: 22px;
    font-family: 'Satoshi-Bold';
}
.textContainer h2 {
    position: relative;
    color: var(--noir);
    font-size: 79px;
    font-family: 'Satoshi-Black';
    margin-bottom: 60px;
}
#studioImage {
    height:auto;
    width: 40%;
    max-width: 120%;
    transition: width 0.5s;

    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vide {
    height: 50vh;
}
.listeCompetences {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0 auto;
    background: transparent;
}
.overlayText {
    background: transparent;
    /* transform: translate(-50%, -50%); */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    position: absolute;
    top: 90vh;
}
.overlayText li {
    text-decoration: none;
    color: var(--blanc1);
    font-size: 79px;
    font-family: 'Satoshi-Black';
    margin-bottom: 80vh;
    background: transparent;
    position: relative;
    top: 99%;
    left: 50%;
}

@media screen and (min-width: 1440pt) {
    
}
@media screen and (min-width: 1024pt) {
    
}
@media screen and (min-width: 768pt) {
    
}
@media screen and (min-width: 480pt) {
    
}
@media screen and (min-width: 375pt) {
    
}