@import url('satoshi.css');
*:root {
    --deepnoir : #000;
    --noir: #1D1D1F;
    --gris: #75757A;
    --blanc1: #F5F5F7;
    --blanc2: #FAFAFA;
    --orange : #FF9F0A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--deepnoir);
    font-family: 'Satoshi-Medium';
}
body {
    overflow-x: hidden;
}

@media screen and (min-width: 1440pt) {
    
}
@media screen and (min-width: 1024pt) {
    
}
@media screen and (min-width: 768pt) {
    
}
@media screen and (min-width: 480pt) {
    
}
@media screen and (min-width: 375pt) {
    
}